table
{
    width: 100%;
    border-spacing: 0;
    color: #212121;
    text-align: left;
    overflow: hidden;
}

table > tbody > tr > td
{
    font-size: 14px;
    position: relative;
}


table > tbody > tr:hover
{
    background-color: #016891 !important;
    color: white;
}

tr:nth-child(even),
td:first-child::before
{
    content: "";
    position: absolute;
    background-color: #c5Eaf3;
    top: 0;
    left: -5000px;
    width: 10000px;
    height: 100%;
    z-index: -10;
}
td:hover::after
{
    content: "";
    position: absolute;
    background-color: #016891;
    left: 0;
    top: -5000px;
    height: 10000px;
    width: 100%;
    z-index: -1;
}

td:hover
{
    background-color: #016891;
    box-shadow: 0 0 12px white;
}

th
{
    color: white;
    background-color: #019cca;
}

img.logo
{
    width: 125px;
    height: 26px;
}

.cancelled
{
    color: red;
    font-weight: bold;
}

form
{
    width: 300px;
}

input
{
    font-size: 16px;
}

input:invalid
{
    border-color: red;
}

button
{
    visibility: hidden;
}

input:valid + br + br+ input:valid + br + br + button
{
    visibility: visible;
}

td, th {
    position: relative;
    text-align: center;
}

